.form
  &__legend
    border: 1px dotted $grey-dark
    border-radius: .25rem
    color: $grey-dark
    font-size: .8rem
    display: block
    padding: .6em

  &__message
    background-color: $red
    border-radius: .25rem
    color: $white
    font-size: .8rem
    display: block
    padding: .8em

  &__input-message
    color: $grey-dark
    display: block
    font-size: .7em
    padding-top: .6em

    .error &
      color: $red

.input
  @extend .anima-ease
  border: 2px solid transparent
  border-radius: 0.25rem
  box-shadow: 0 1px 3px rgba(50,50,93,.15)
  box-sizing: border-box
  color: $grey-dark
  display: block
  font-size: .875rem
  height: 46px
  line-height: 46px
  padding: 0 15px
  width: 100%

  &:focus
    outline: none
    box-shadow: 0 1px 3px rgba(50,50,93,.35)

  &--default
    @extend .input
    background-color: $white

  &--grey
    @extend .input
    background-color: $grey-lighter

  &__container
    margin-bottom: 1rem
    width: 100%

    &.error
      input
        border-color: $red
        color: $red
    
  &__group
    @media (min-width: $md)
      display: flex

      > input__container
        flex-grow: 1