.input
  @extend .anima-ease
  border: 0 none
  border-radius: 0.25rem
  box-shadow: 0 1px 3px rgba(50,50,93,.15)
  box-sizing: border-box
  color: $grey-dark
  display: block
  font-size: .875rem
  height: 46px
  line-height: 46px
  margin-bottom: 1rem
  padding: 0 15px
  width: 100%

  &:focus
    outline: none
    box-shadow: 0 1px 3px rgba(50,50,93,.35)

.input-default
  @extend .input
  background-color: $white

.input-grey
  @extend .input
  background-color: #f9f9f9

.input-group
  @media (min-width: $md)
    display: flex

    > input-default,
    > input-grey
      flex-grow: 1
