.input
  @extend .anima-ease
  border: 2px solid $white
  border-radius: 0.25rem
  box-shadow: 0 1px 3px rgba(50,50,93,.15)
  box-sizing: border-box
  color: $grey-dark
  display: block
  font-size: .875rem
  height: 46px
  line-height: 46px
  padding: 0 15px
  width: 100%

  &:focus
    outline: none
    box-shadow: 0 1px 3px rgba(50,50,93,.35)

  &--default
    @extend .input
    background-color: $white

  &--grey
    @extend .input
    background-color: #f9f9f9

  &__container
    margin-bottom: 1rem
    width: 100%

    &.error
      input
        border-color: #f5365c
        color: #f5365c
    
  &__group
    @media (min-width: $md)
      display: flex

      > input__container
        flex-grow: 1

.error--message
  color: $grey-dark
  display: block
  font-size: .7em
  padding-top: .6em

  .error &
    color: #f5365c
