.table-default
  font-weight: $font-weight-light
  font-size: .85rem
  overflow-x: auto
  width: 100%

  th
    background-color: $grey-dark
    color: $white
    font-weight: inherit

  th, td
    padding: .6rem .7rem
    white-space: nowrap

  tr
    background-color: $white

    &:nth-child(odd)
      background-color: #f9f9f9
