.table-container
  overflow-x: auto
  overflow-y: hidden
  
.table-default
  font-weight: $font-weight-light
  font-size: .85rem
  width: 100%

  th
    background-color: $grey-dark
    color: $white
    font-weight: inherit

  th, td
    padding: .8rem
    white-space: nowrap

  tr
    background-color: $white

    &:nth-child(odd)
      background-color: $grey-lighter

  a
    color: inherit

    &:hover
      text-decoration: none