.app-header
  background-color: $grey-dark

  &__container
    align-items: center
    display: flex
    justify-content: space-between

  &__icon
    display: block
    height: auto
    max-width: 80px